<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #btninsert {
            float: right;
        }
    </style>
</head>
<body>
<a href="/product/toInsert">
    <button id="btninsert" type="button" class="btn btn-secondary btn-lg">添加信息</button>
</a>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr align="center">
        <th scope="col">#</th>
        <th scope="col">商品编号</th>
        <th scope="col">商品名称</th>
        <th scope="col">商品库存</th>
        <th scope="col">商品价格</th>
        <th scope="col">商品状态</th>
        <th scope="col">商品操作</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center" th:each="p:${productList}">
        <th scope="row" th:text="${pStat.index+1}">1</th>
        <td th:text="${p.productId}">Mark</td>
        <td th:text="${p.productName}">Otto</td>
        <td th:text="${p.productSum}">@mdo</td>
        <td th:text="${p.productPrice}">@mdo</td>
        <td th:text="${p.status.statusName}">@mdo</td>
        <td>
            <a th:href="@{/product/selectOne(product_id=${p.productId})}" class="btn btn-info btn-sm active"
               role="button" aria-pressed="true">修改</a>
            <a th:href="@{/product/delete(product_id=${p.productId})}" onclick="return confirm('确定要删除吗')" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>