<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.yyh.dao" />
        <option name="javaMapperPath" value="E:\360Downloads\ShoppingWebSite\src\main\java" />
        <option name="javaModelPackage" value="com.yyh.po" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="ShoppingWebSite" />
        <option name="mapperFilesFolder" value="E:\360Downloads\ShoppingWebSite\src\main\resources\mapper" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="E:\360Downloads\ShoppingWebSite\src\main\resources\mapper" />
          </list>
        </option>
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="ShoppingWebSite">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.yyh.dao" />
                  <option name="javaMapperPath" value="E:\360Downloads\ShoppingWebSite\src\main\java" />
                  <option name="javaModelPacakge" value="com.yyh.po" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.yyh.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.yyh.service" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="3166shoppingsite:product">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="product_id" />
                  <option name="javaModelName" value="Product" />
                  <option name="moduleName" value="ShoppingWebSite" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="3166shoppingsite:status">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="status_id" />
                  <option name="javaModelName" value="Status" />
                  <option name="moduleName" value="ShoppingWebSite" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>